@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
    --pri-lCyan:hsl(193 38% 86%);
    --pri-nGreen:hsl(150 100% 66%);
    --ntrl-dgBlue:hsl(217 19% 24%);
    --ntrl-gBlue:hsl(217 19% 38%);
    --ntrl-dBlue:hsl(218 23% 16%);
}
body{
    margin: 0;
    background: var(--ntrl-dBlue);
    color: var(--pri-lCyan);
    font-family: 'Manrope', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    background: var(--ntrl-dgBlue);
    text-align: center;
    border-radius: 16px;
    min-width: 20vw;
    padding: 1rem;
    margin: 4rem 1rem;
}
header{
    color: var(--pri-nGreen);
    letter-spacing: 3px;
    text-transform: uppercase;
}
p{
    max-width: 400px;
    justify-self: center;
    align-self: center;
}
#advice{
    font-size: 28px;
}
button{
    border: 0px solid;
    border-radius: 50%;
    max-width: 4rem;
    background:var(--pri-nGreen);
    padding: 1rem;
    justify-self: center;
    align-self: center;
    position: relative;
    top: 3rem;
}
button:hover{
    box-shadow: 0px 0px 5px 5px var(--pri-nGreen);
}

@media only screen and (min-width:769px){
    body{
        display: flex;
        flex-direction: column;
    }
    main{
        max-width: 600px;
        align-self: center;
        margin: 10rem 1rem;

    }
}